//navbar
.main-navbar{
    border-bottom: 8px solid #ff740c;

    .nav-link {
        color: #495057!important;
        font-weight: bold;
        text-transform: uppercase;
    }
}
//main content
.main-content{
    padding: 30px 0px;
}
//footer
footer{

    color:$body-bg;
    background-color: #060c17;
    padding: 40px 0px;

    a{
        color: #fff;
        font-weight: bold;
    }

}
//top form
.top-form{
    padding: 5px 0px 20px;
}
.actions{

    i{
        padding: 0px 10px
    }
}
//table header
.box-header{

    color: #444;
    display: block;
    padding: 10px;
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    border-top: 3px solid #d2d6de;

    .box-title{
            display: inline-block;
            font-size: 18px;
            margin: 0;
            line-height: 1;
        }
    .box-tools{
        position: absolute;
        right: 10px;
        top: 5px;
    }    

}
.top-actions{
    width: 100%;
    padding-bottom: 20px;
    a{
        margin: 0px 10px;
        padding: 0px 10px; 
    }
}